.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 23.4375rem;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  border: 0.0625rem solid black;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  background-color: #fafafa;
  box-shadow: 0rem 0.020625rem 0rem 0rem #a6a6aa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.logo {
  width: 1.5625rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.headerText {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.004375rem;
  color: #262626;
  margin-left: 1rem;
  line-height: 1.125rem;
}

.blueprint {
  color: #348cdf;
}

.contentScroll {
  margin-top: 3.125rem;
}

.postHeader {
  display: flex;
  gap: 0px;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: #d9d9d9;
  display: flex;
  justify-content: flex-start;
  margin: 0 16px;
}

.userBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}

.userLine {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.07px;
  color: #262626;
}

.username,
.org {
  font-weight: 700;
}

.at {
  font-weight: 400;
}

.location {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.07px;
  color: #8e8e8e;
}

.imageWrap {
  margin-top: 12px;
  padding: 0 16px;
}

.postImage {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.caption {
  display: flex;
  width: 365px;
  height: 145px;
  justify-content: center;
  margin-top: 15px;
  padding: 0 16px;
  color: #262626;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.comment {
  display: flex;
  width: 365px;
  height: 50px;
  justify-content: flex-start;
  padding: 0 16px;
  color: #262626;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.actions {
  color: #000;
  line-height: 18px; /* 180% */
  display: flex;
  gap: 12px;
  margin-top: 10px;
  padding: 0 16px;
}

.likes {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.comments {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.icons {
  display: flex;
  margin: 12px 0;
}

.heartIcon {
  margin: 0 16px;
}

.commentIcon {
  margin: 0;
}

.shareIcon {
  margin-left: auto;
  margin-right: 16px;
}

.datePosted {
  display: flex;
  width: 76px;
  height: 8px;
  flex-direction: column;
  justify-content: center;
  color: #979797;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05px;
  margin: 0 16px;
}
